.massActions {
    @include flex(row, center);
    margin-bottom: 1em;
    border-bottom: 2px solid var(--c-background-secondary);
    transition: all 0.3s;
    margin-top: -4em;
    padding: 1em;
    height: 3em;
    color: var(--c-text-primary);

    &.visible {
        margin-top: 0;
    }
}

.controls {
    flex-shrink: 0;
    margin-left: auto;

    > button {
        @include margin-between-h(0.25em);
        @include button_small;
        $colors: (--c-primary, --c-yellow, --c-red);

        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                @include hover_effect(nth($colors, $i));
            }
        }

        @include disabled {
            @include button_disabled;
        }
    }
}
