.uploadBox {
    @include flex(column);
    border-radius: 0.5em;
    border: 2px solid var(--c-background-secondary);
    margin: 1em;

    .header {
        @include flex(row, center, space-between);
        border-bottom: 2px solid var(--c-background-secondary);
        padding: 0.75em;
        width: 100%;
    }

    .fileName {
        @include flex(row, center);
        color: var(--c-text-primary);
        font-weight: 600;
        flex-shrink: 1;

        > button {
            display: flex;
            margin: 0 0.75em 0 0.25em;
            color: currentColor;

            bc-icon {
                @include size(16px);
            }
        }

        > h3 {
            @include white-space-overflow();
            margin-right: 1em;
            margin-top: 1px;
        }
    }

    > div {
        padding: 0.25em;
    }
}

.controls {
    flex-shrink: 0;

    > button {
        @include margin-between-h(0.25em);
        @include button_small;
        $colors: (--c-primary, --c-yellow, --c-red);

        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                @include hover_effect(nth($colors, $i));
            }
        }

        @include disabled {
            @include button_disabled;
        }
    }
}

.uploadList {
    width: 100%;
    margin-left: -0.2em;
    padding: 0.5em;
}
