.uploads {
    @include flex(column);
    overflow: auto;
    max-height: 100%;
}

.listItem {
    @include flex(column);
    border-radius: 0.5em;
    border: 2px solid var(--c-background-secondary);
    margin: 1em;

    .header {
        @include flex(row, center, space-between);
        border-bottom: 2px solid var(--c-background-secondary);
        padding: 0.75em;
        width: 100%;
    }

    .fileName {
        @include flex(row, center);
        color: var(--c-text-primary);
        font-weight: 600;
        flex-shrink: 1;

        > button {
            @include size(14px);
            margin-right: 0.5em;
            color: currentColor;

            > svg {
                fill: currentColor;
            }
        }

        > h3 {
            @include white-space-overflow();
            margin-right: 1em;
            margin-top: 1px;
        }
    }

    > div {
        padding: 0.25em;
    }
}

.controls {
    flex-shrink: 0;

    > button {
        @include font(800, 0.75em);
        padding: 0.5em 0.75em;
        transition: all 0.3s;
        color: var(--c-text-secondary-accent);
        border-radius: 0.25em;

        $colors: (
                (var(--c-blue), var(--c-blue-accent)),
                (var(--c-yellow), var(--c-yellow-accent)),
                (var(--c-red), var(--c-red-accent))
        );

        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                background: nth(nth($colors, $i), 1);

                &:hover {
                    background: nth(nth($colors, $i), 2);
                }
            }
        }

        &[disabled] {
            pointer-events: none;
            background: var(--c-background-secondary);
            color: var(--c-text-secondary);
            cursor: not-allowed;
        }

        &:not(:last-child) {
            margin-right: 0.5em;
        }
    }
}

.uploadList {
    width: 100%;
    margin-left: -0.2em;
    padding: 0.5em;
}
