.uploadBox {
    @include flex(column);
    margin-top: 0.52em;

    .header {
        @include flex(row, center, space-between);
        border-bottom: 2px solid var(--c-background-secondary);
        padding: 0.75em 0.65em 0.35em;
        font-size: 0.85em;
        width: 100%;
    }

    .fileName {
        @include flex(row, center);
        color: var(--c-text-primary);
        font-weight: 600;
        flex-grow: 1;
        width: 0;

        > button {
            display: flex;
            margin: 0 0.75em 0 0.25em;
            color: currentColor;

            bc-icon {
                @include size(16px);
            }
        }

        > h3 {
            @include white-space-overflow();
            min-width: 0;
            margin-right: 1em;
            margin-top: 1px;
        }
    }

    > div {
        padding: 0.25em;
        flex-shrink: 0;
    }
}

.controls {
    flex-shrink: 0;

    > button {
        @include margin-between-h(0.25em);
        @include button_small;
        flex-shrink: 0;
        $colors: (--c-primary, --c-yellow, --c-red, --c-primary);

        > bc-icon {
            font-size: 0.7em;
        }

        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                @include hover_effect(nth($colors, $i));
            }
        }

        @include disabled {
            @include button_disabled;
        }
    }
}

.uploadList {
    width: 100%;
    padding: 0.5em;
}
