.uploads {
    @include flex(column);
    overflow: auto;
    max-height: 100%;
    padding: 1em;
}

.listItem {
    @include flex(row);
    border-top: 2px solid var(--c-secondary-bg);

    > h3 {
        @include white-space-overflow();
        @include width(20vw, 15em, 30em);
        font-weight: 600;
        border-right: 2px solid var(--c-secondary-bg);
        padding: 0.5em 0.5em 0 0;
        color: var(--c-text-primary);
    }

    > div {
        padding: 0.25em;
    }

    &:last-child {
        border-bottom: 2px solid var(--c-secondary-bg);
    }
}

.uploadList {
    width: 100%;
    margin-left: -0.2em;
}
