.upload {
    display: grid;
    grid-gap: 0.75em;
    grid-template: 1fr / min-content 1fr min-content min-content;
    align-items: center;
    padding: 0.5em;
    --c-status-primary: var(--c-primary);
    --c-status-secondary: var(--c-primary-accent);

    .btn {
        @include size(26px);
        @include flex(row, center, center);
        border-radius: 100%;
        border: 2px solid currentColor;

        bc-icon {
            @include size(14px);
            fill: currentColor;
        }

        &.pauseBtn {
            @include hover_effect(--c-primary, color);
        }

        &.abortBtn {
            @include hover_effect(--c-red, color);
        }
    }

    @mixin disabled_buttons {
        .btn {
            @include hover_effect(--c-text-primary, color);
            pointer-events: none;
            cursor: not-allowed;
        }
    }

    &[data-state='idle'],
    &[data-state='removed'],
    &[data-state='paused'] {
        --c-status-primary: var(--c-yellow);
        --c-status-secondary: var(--c-yellow-accent);
    }

    &[data-state='finished'],
    &[data-state='removed'] {
        @include disabled_buttons;
    }

    &[data-state='cancelled'],
    &[data-state='errored'],
    &[data-state='timeout'],
    &[data-state='connection-lost'],
    &[data-state='peer-cancelled'], {
        @include disabled_buttons;
        --c-status-primary: var(--c-red);
        --c-status-secondary: var(--c-red-accent);
    }
}

.progressBar {
    @include flex(row, center, center);
    @include font(600, 0.75em);
    position: relative;
    box-shadow: inset 0 0 0 2px var(--c-status-primary); // A border causes a gap
    border-radius: 50em;
    padding: 1em 0;
    overflow: hidden;

    p {
        @include position(0, 0, 0, 0);
        @include flex(row, center, center);
        position: absolute;
        text-shadow: 0 0 2px rgba(black, 0.2);
        transition: clip-path 0.3s;

        &:first-child {
            clip-path: inset(0 0 0 var(--text-clip-left));
            color: var(--c-text-primary);
        }

        &:last-child {
            clip-path: inset(0 var(--text-clip-right) 0 0);
            color: var(--c-text-secondary-accent);
        }
    }

    &::before {
        @include pseudo();
        @include size(100%);
        z-index: -1;
        clip-path: inset(0 calc(100% - var(--progress)) 0 0);
        background: striped_background(var(--c-status-primary), var(--c-status-secondary), 8px);
        transition: clip-path 0.3s;
    }
}
