.uploads {
    @include flex(column);
    max-height: 100%;
    height: 100%;
}

.itemList {
    @include flex(column);
    will-change: transform;
    transform: translate3d(0, 0, 0); // will-change somehow does not work alone
    overflow: auto;
    max-height: 100%;
}

.placeholder {
    @include flex(column, center, center);
    color: var(--c-text-primary);
    margin: auto;
    flex-grow: 1;
    max-height: 100%;

    bc-icon {
        @include size(9vmin);
    }

    @include mq-phones {
        font-size: 0.75em;

        bc-icon {
            @include size(9vh);
        }
    }
}
