body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

input,
button {
    outline: none;
    background: inherit;
    border: none;

    // TODO: Switch to :focus-visible if browser support is better?
    &:focus {
        box-shadow: 0 0 0 2px var(--c-primary-focus);
    }
}

button {
    cursor: pointer;

    @include disabled {
        @include button_disabled;
    }
}

code {
    background: var(--c-background-primary);
    font-family: monospace;
    font-weight: inherit;
    padding: 0.15em 0.45em;
    border-radius: 0.15em;
    margin: 0 0.25em;
}

b {
    font-weight: 600;
}

a {
    color: var(--c-primary);
    text-decoration: none;
}

@for $i from 1 through 6 {
    #{'h' + $i} {
        color: var(--c-text-primary);
    }
}

h1 {
    @include font(300, 22px);
    margin: 1em;
}

h2 {
    @include font(300, 18px);
}

h3 {
    @include font(600, 14px);
}
