@mixin light_theme() {

    // Fix colors
    --c-red: #ef3840;
    --c-red-accent: #d43136;

    --c-yellow: #f6d400;
    --c-yellow-accent: #efbf10;

    --c-primary: #3d7cf9;
    --c-primary-accent: #3071ea;

    // Text colors
    --c-text-primary: #3e454d;
    --c-text-primary-accent: #4b515d;
    --c-text-secondary: #fff; // Always white, used for fixed-colors
    --c-text-disabled: #747f8d;

    // Background colors
    --c-background-primary: #fff;
    --c-background-primary-accent: #ebecf0;
    --c-background-secondary: #ecedef;
    --c-background-secondary-accent: #e1e2e3;
    --c-background-tertiary: #ceced4; // Used for box-shadows
}

@mixin dark_theme() {
    --c-text-primary: #fafafa;
    --c-text-primary-accent: #dcddde;
    --c-text-secondary: #f0f0f0;
    --c-text-disabled: #565a61;

    --c-background-primary: #2f3136;
    --c-background-primary-accent: #1d1e20;
    --c-background-secondary: #202225;
    --c-background-secondary-accent: #1d1f21;
    --c-background-tertiary: #1e1e1e;
}
