$grid-margin: 1em;

.options {
    @include flex(column);
    @include width(50%, auto, 40em);
    grid-gap: $grid-margin;
    padding: $grid-margin;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    will-change: transform;

    @include mq-phones {
        width: 100%;
    }

    > header {
        @include flex(row, center);
        background: var(--c-background-secondary);
        margin: 0;
        padding: 0.5em 0.75em;
        border-radius: 0.25em;

        > div {
            @include size(0.9em);
            margin-right: 0.5em;
        }

        > h1 {
            @include font(600, 1em);
            margin: 0;
        }

        > span {
            @include font(600, 0.85em);
            white-space: pre-wrap;
            color: var(--c-text-primary-accent);
        }
    }

    > section {
        @include margin-between-v(0.5em);
        border: 2px solid var(--c-background-secondary);
        border-radius: 0.25em;

        header {
            @include flex(row, center);
            border-bottom: 2px solid var(--c-background-secondary);
            padding: 0 $grid-margin * 0.75;
            height: 3em;

            > button {
                @include button_small;
                background: var(--c-primary);
                transition: all 0.3s;

                &:hover{
                    background: var(--c-primary-accent);
                }
            }

            > h3 {
                @include font(600, 1em);
                margin: auto auto auto 0.5em;
            }
        }

        article {
            padding: $grid-margin * 0.75;
            line-height: 1.45em;
        }
    }
}
