{
    "presets": [
        [
            "@babel/preset-typescript",
            {"jsxPragma": "h"}
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-react-jsx",
            {"pragma": "h", "pragmaFrag": "Fragment"}
        ],
        [
            "@babel/plugin-proposal-decorators",
            {"legacy": true}
        ],
        "@babel/plugin-proposal-class-properties",
        "react-hot-loader/babel"
    ]
}
