@mixin text_decent {
    @include font(600, 14px);
    color: var(--c-text-primary-accent);
}

@mixin button_small {
    @include font(800, 0.75em);
    color: var(--c-text-secondary);
    padding: 0.5em 0.75em;
    border-radius: 0.2em;
}

@mixin button_middle {
    @include font(600, 1em);
    border-radius: 0.2em;
    padding: 0.5em 0.85em;
    background: var(--c-primary);
    color: var(--c-text-secondary);
}

@mixin button_large {
    @include font(600, 1.15em);
    border-radius: 0.15em;
    padding: 0.5em 0.9em;
    background: var(--c-primary);
    color: var(--c-text-secondary);
}

@mixin button_icon {
    @include flex(row, center, flex-start);

    > bc-icon {
        margin-right: 0.6em;
    }
}

@mixin button_disabled {
    pointer-events: none;
    cursor: not-allowed;
    background: var(--c-background-secondary);
    color: var(--c-text-disabled);
}

@mixin hover_effect($color, $props...) {
    @if length($props) == 0 {
        $props: (background-color)
    }

    transition-duration: 0.3s;
    transition-property: $props;
    @for $i from 1 through length($props) {
        #{nth($props, $i)}: var($color);
    }

    &:hover {
        $accent-color: var($color + '-accent');
        @for $i from 1 through length($props) {
            #{nth($props, $i)}: $accent-color;
        }
    }
}

@mixin disabled {
    &[disabled],
    &[disabled]:active,
    &[disabled]:hover {
        @content;
    }
}
