.tabs {
    @include flex(column);
    @include size(100%);
    overflow: visible;
}

.header {
    @include flex(row, center, space-between);
    border-bottom: 3px solid var(--c-primary);
    padding: 0 0.75em 0;
    overflow: visible;

    .tabButtons {
        @include flex(row, stretch, flex-start);
        padding: 0.75em 0 0;

        > button {
            position: relative;
            color: var(--c-background-primary);
            background: currentColor;
            border-radius: 0.5em 0.5em 0 0;
            padding: 0.55em 1em;
            z-index: 0;

            > span {
                @include text_decent;
            }

            &:not(.activeButton):hover {
                color: var(--c-background-secondary);
                z-index: 4;

                span {
                    color: var(--c-text-primary);
                }

                &::before,
                &::after {
                    visibility: visible;
                }
            }

            &.activeButton {
                color: var(--c-primary);
                z-index: 5;

                &::before,
                &::after {
                    visibility: visible;
                }

                > span {
                    color: var(--c-text-secondary-accent);
                    opacity: 1;
                }
            }

            $size: 10px;
            $smoothness: 0.5px;
            $bg-size: $size * 2;

            &::before,
            &::after {
                @include pseudo();
                @include fixed-size($size);
                background: radial-gradient(transparent $bg-size / 2 - $smoothness, currentColor $bg-size / 2 + $smoothness);
                background-size: $bg-size $bg-size;
                visibility: hidden;
                bottom: 0;
            }

            &::after {
                left: -$size;
                background-position: ($bg-size / 2) ($bg-size / 2);
            }

            &::before {
                right: -$size;
                background-position: -($bg-size) ($bg-size / 2);
            }
        }
    }
}

.wrapper {
    position: relative;
    overflow: hidden;
    flex-grow: 1;

    > div {
        @include position(0, 0, 0, 0);
        transition: all 0.3s;
        transform: scale(0.98);
        position: absolute;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;

        &.activeTab {
            visibility: visible;
            opacity: 1;
            transform: none;
        }
    }
}
