$width: 40px;
$height: 16px;
$margin: 6px;

.themeSwitcher {
    @include flex(row, flex-start, flex-end);
    @include size($width, $height);
    @include hover_effect(--c-background-secondary);
    justify-self: flex-end;
    border-radius: 1em;
    cursor: pointer;

    > button {
        @include size($height + $margin);
        background: var(--c-text-primary);
        transform: translateX(#{$margin / 2});
        border-radius: 100%;
        margin-top: -($margin / 2);
        transition: all 0.3s;
        position: relative;

        > bc-icon {
            @include size(70%);
            @include position(0, 0, 0, 0);
            margin: auto;
            position: absolute;
            color: var(--c-background-secondary);
            transition: all 0.3s;
            opacity: 0;

            &.visible {
                opacity: 1;
            }
        }
    }

    &.toggled {
        > button {
            transform: translateX(-$width + $height + $margin / 2);
        }
    }
}
