@import '~normalize.css';
@import '~sassyfication';
@import './variables';
@import './functions';
@import './theme';

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(black, 0.3);
}

::-webkit-scrollbar-track {
    background-color: var(--c-secondary-bg);
}

::-webkit-scrollbar-corner {
    background: transparent
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

input,
button {
    outline: none;
    background: inherit;
    border: none;
}

button {
    cursor: pointer;
}

code {
    background: var(--c-primary-bg);
    font-family: monospace;
    font-weight: inherit;
    padding: 0.15em 0.45em;
    border-radius: 0.15em;
    margin: 0 0.25em;
}

body {
    background: var(--c-secondary-bg);
    user-select: none;

    // Light theme is base and gets extended by the dark one
    @include light_theme;

    &.light {
        @include light_theme;
    }

    &.dark {
        @include dark_theme;
    }

    &.theme-refreshing > * {
        transition: all 0.3s !important;
    }
}

h2 {
    @include font(400, 18px);
}

h3 {
    @include font(500, 14px);
}

#app {
    @include width(75vw, 15em, 70em);
    @include height(85vh, 30em, 45em);
    @include position(0, 0, 0, 0);
    @include flex(column);
    font-family: $font-family;
    background: var(--c-primary-bg);
    box-shadow: 0 0.25em 1.5em rgba(#000, 0.025);
    border-radius: 0.5em;
    margin: auto;
    position: fixed;
    overflow: hidden;

    // Entrance animation
    @include animate('0.45s ease-in-out') {
        from {
            transform: translateY(-3vh) scale(0.97);
            opacity: 0;
        }
        to {
            transform: none;
            opacity: 1;
        }
    }
}

// Prevent flashing during js-execution
@media screen and (prefers-color-scheme: dark) {
    body {
        @include dark_theme;
    }
}

@media screen and (max-width: 1200px), (max-height: 675px) {
    #app {
        min-width: 100vw;
        min-height: 100vh;
        border-radius: 0;
    }
}
