@mixin text_decent {
    @include font(600, 14px);
    color: var(--c-text-primary-accent);
}

@mixin button_small {
    @include font(800, 0.75em);
    color: var(--c-text-secondary-accent);
    padding: 0.5em 0.75em;
    border-radius: 0.25em;
}

@mixin button_middle {
    @include font(600, 1em);
    border-radius: 0.25em;
    padding: 0.5em 0.85em;
    background: var(--c-primary);
    color: var(--c-text-secondary-accent);
}

@mixin button_large {
    @include font(600, 1.15em);
    border-radius: 0.25em;
    padding: 0.5em 0.9em;
    background: var(--c-primary);
    color: var(--c-text-secondary-accent);
}

@mixin button_disabled {
    pointer-events: none;
    cursor: not-allowed;
    background: var(--c-background-secondary);
    color: var(--c-text-secondary);
}

@mixin disabled {
    &[disabled],
    &[disabled]:active,
    &[disabled]:hover {
        @content;
    }
}
