@mixin light_theme() {
    --c-error: #ff252f;
    --c-error-accent: #e51f1f;
    --c-info: #f6d400;
    --c-info-accent: #efbf10;
    --c-text-primary: #242930;
    --c-text-primary-accent: #4b515d;
    --c-text-secondary: #fff;
    --c-primary-bg: #fff;
    --c-secondary-bg: #e8e9eb;
    --c-primary: #39dc81;
    --c-primary-accent: #31ca7d;
}

@mixin dark_theme() {
    --c-text-primary: #fafafa;
    --c-text-primary-accent: #dcddde;
    --c-primary-bg: #2f3136;
    --c-secondary-bg: #202225;
}
