@mixin light_theme() {
    --c-red: #ff252f;
    --c-red-accent: #e51f1f;

    --c-yellow: #f6d400;
    --c-yellow-accent: #efbf10;

    --c-blue: #2d8af6;
    --c-blue-accent: #1e74f6;

    --c-text-primary: #242930;
    --c-text-primary-accent: #4b515d;
    --c-text-secondary: #b6b9bf;
    --c-text-secondary-accent: #fff;
    --c-background-primary: #fff;
    --c-background-secondary: #e8e9eb;
    --c-primary: #39dc81;
    --c-primary-accent: #31ca7d;
}

@mixin dark_theme() {
    --c-text-primary: #fafafa;
    --c-text-primary-accent: #dcddde;
    --c-text-secondary: #565a61;
    --c-background-primary: #2f3136;
    --c-background-secondary: #202225;
}
