@mixin table-layout {
    grid-template: 1fr / 2.5em 1fr 5em 5em;
    display: grid;
    grid-gap: 1em;
    font-size: 14px;

    @include mq-phones {
        grid-template: 1fr / 2.5em 1fr 5em 1.5em;
    }
}
