@mixin table-layout {
    grid-template: 1.5em / 1em 3em 1fr 5em 7em;
    font-size: 14px;
    display: grid;
    grid-gap: 1em;

    @include mq-phones {
        grid-template: 1.5em / 3em 1fr 5em 1.5em;
    }
}
