.dropZone {
    @include position(0, 0, 0, 0);
    @include flex(column, center, center);
    position: absolute;
    background: var(--c-background-primary);
    pointer-events: none;
    transition: all 0.3s;
    z-index: 10;
    opacity: 0;

    .mobile,
    .desktop {
        @include flex(column, center, center);
    }

    .desktop {
        > h1 {
            transform: translateY(10%);
            transition: all 0.3s;
        }

        > button {
            @include flex(row, center);
            @include button_large;
            @include hover_effect(--c-primary);
            margin-top: 0.75em;
            pointer-events: all;

            > div {
                @include size(1em);
                margin-right: 0.5em;
            }
        }
    }

    .mobile {
        visibility: hidden;
        color: var(--c-text-primary);

        > h1 {
            text-align: center;
        }

        > div {
            @include size(7.5vh);
        }
    }

    @include mq-phones {
        margin-bottom: 12.5vmin;

        .desktop {
            visibility: hidden;
        }

        .mobile {
            visibility: visible;
        }
    }
}

.dragOver {
    --color: var(--c-text-primary);
    transition: all 0.3s;
    opacity: 1;

    > div {
        height: 4.5em;

        > div {
            transform: none;
        }
    }

    > p {
        transform: none;
    }
}
