.dropZone {
    @include position(0, 0, 0, 0);
    @include flex(column, center, center);
    position: absolute;
    background: var(--c-background-primary);
    pointer-events: none;
    transition: all 0.3s;
    z-index: 10;
    opacity: 0;

    > h1 {
        transform: translateY(10%);
        transition: all 0.3s;
    }

    > button {
        @include flex(row, center);
        @include button_large;
        margin-top: 0.75em;
        pointer-events: all;
        transition: all 0.3s;

        > div {
            @include size(1em);
            margin-right: 0.5em;
        }

        &:hover {
            background: var(--c-primary-accent);
        }
    }

    @include breakpoint-mobile {
        font-size: 0.75em;

        > h1 {
            display: none;
        }

        > button {
            font-size: 1.5em;
            margin-top: 1em;
        }
    }
}

.dragOver {
    --color: var(--c-text-primary);
    transition: all 0.3s;
    opacity: 1;

    > div {
        height: 4.5em;

        > div {
            transform: none;
        }
    }

    > p {
        transform: none;
    }
}
