@import 'shared';

.fileList {
    @include flex(column, stretch, flex-start);
    overflow: hidden;
    max-height: 100%;
    min-height: 100%;

    > button {
        @include button_middle;
        @include flex(row, center, space-between);
        @include position(auto, 0, 0, 0);
        @include size(7em, 2em);
        background: var(--c-primary);
        border-radius: 100em;
        position: absolute;
        margin: 0.75em auto;
        transition: all 0.3s;

        > span {
            font-size: 0.9em;
        }

        &:hover,
        &:active {
            background: var(--c-primary-accent);
        }

        @include mq-phones {
            @include fixed-height(12.5vmin);
            margin: auto 0 0 0;
            border-radius: 0;
            justify-content: center;
            width: 100%;

            > span {
                margin-left: 0.5em;
            }
        }
    }
}

.header {
    @include table-layout;
    @include text_decent;
    border-bottom: 2px solid var(--c-background-secondary);
    margin: 1.25em 0 0;
    padding: 0 1em 0.75em;

    > p:not(:last-child) > span {
        @include hover_effect(--c-text-primary, color);
        position: relative;
        cursor: pointer;
    }
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.list {
    will-change: transform;
    overflow: auto;
    padding-bottom: 3.5em;
    flex-grow: 1;
}

