.status {
    display: inline-block;
    position: relative;
    padding: 3px 6px 2px;
    overflow: visible;
    margin: auto;
    --color: var(--c-primary);

    span {
        @include font(800, 13px);
        display: inline-block;
        color: var(--color);
        transition: all 0.3s;
        line-height: 1em;
    }

    svg {
        @include position(0, 0, 0, 0);
        @include size(100%);
        margin: auto;
        position: absolute;
        overflow: visible;

        rect {
            fill: none;
            stroke-width: 1.5;
            stroke-linejoin: round;
            stroke-linecap: round;
            stroke: var(--c-primary);
            transition: all 0.3s;

            &.outline {
                transition: all 0.3s;
                stroke-dasharray: 20 80;
                stroke: var(--color);

                @include animate('1s infinite linear') {
                    from {
                        stroke-dashoffset: 80;
                    }
                    to {
                        stroke-dashoffset: -20;
                    }
                }

                animation-play-state: paused;
            }
        }

        @media screen and (-webkit-device-pixel-ratio: 1) {
            rect {
                stroke-width: 2;
            }
        }
    }

    &[data-status='loading'],
    &[data-status='removing'] {
        svg rect {
            &:not(.outline) {
                stroke: var(--c-background-secondary);
            }

            &.outline {
                animation-play-state: running;
            }
        }
    }

    &[data-status='loading'] {
        --color: var(--c-yellow);
    }

    &[data-status='removing'] {
        --color: var(--c-red);
    }
}
