.fileItem {
    font-size: 14px;
    display: grid;
    grid-gap: 1em;
    grid-template: 1fr / 2.5em 1fr 5em 10em;
    align-items: center;
    padding: 0 1em;
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 0.35em;
        padding-bottom: 0.35em;
        border-bottom: 1px solid var(--c-secondary-bg);
    }
}

.actionsBox {
    @include flex(row, center, flex-end);

    &.disabled > button {
        --color: var(--c-text-primary-accent) !important;
        pointer-events: none;
        cursor: not-allowed;
    }

    > button {
        @include font(600, 0.85em);
        border: 2px solid var(--color);
        text-transform: uppercase;
        padding: 0.4em 0.75em;
        transition: all 0.3s;
        color: var(--color);
        border-radius: 3px;
        position: relative;
        overflow: hidden;

        &:hover {
            background: var(--color-accent);
            box-shadow: 0 0 0.15em var(--color-accent);
        }

        &:not(:last-child) {
            margin-right: 0.5em;
        }

        &.shareBtn {
            --color: var(--c-primary);
        }

        &.removeBtn {
            --color: var(--c-error);
        }

        &:hover {
            background: var(--color);
            color: var(--c-text-secondary);
        }
    }
}

.status {
    justify-items: center;
}

.itemText {
    @include font(600, 14px);
    color: var(--c-text-primary);
}

.alignRight {
    text-align: right;
}

