.fileItem {
    font-size: 14px;
    display: grid;
    grid-gap: 1em;
    grid-template: 1fr / 2.5em 1fr 5em 5em;
    align-items: center;
    padding: 0 1em;
    width: 100%;

    &:first-child {
        margin-top: 0.2em;
    }

    &:not(:last-child) {
        margin-bottom: 0.35em;
        padding-bottom: 0.35em;
        border-bottom: 1px solid var(--c-background-secondary);
    }
}

.actionsBox {
    @include flex(row, center, flex-end);

    &.disabled > button {
        color: var(--c-text-primary-accent);
        pointer-events: none;
        cursor: not-allowed;

        &:hover {
            color: var(--c-text-primary-accent);
        }
    }

    > button {
        @include size(18px);
        @include flex(row, center);
        text-transform: uppercase;
        transition: all 0.3s;
        color: var(--c-text-primary);
        position: relative;
        overflow: hidden;

        &:hover {
            color: var(--color);
        }

        &:not(:last-child) {
            margin-right: 0.75em;
        }

        &.shareBtn {
            --color: var(--c-primary);
        }

        &.removeBtn {
            --color: var(--c-red);
        }
    }
}

.status {
    justify-items: center;
}

.itemText {
    @include font(600, 14px);
    color: var(--c-text-primary);
}

.alignRight {
    text-align: right;
}

