.checkbox {
    @include size(1.5em);
    @include hover_effect(--c-text-primary, border-color);
    flex-shrink: 0;
    position: relative;
    overflow: visible;
    border: 2px solid var(--c-text-primary);
    border-radius: 50em;
    transition: all 0.3s;

    > svg {
        @include size(70%);
        @include position(0, 0, 0, 0);
        margin: auto;
        position: absolute;
        fill: transparent;
        stroke: transparent;
        stroke-width: 5;
        stroke-linecap: round;
        stroke-dasharray: 54;
        stroke-dashoffset: 54;
        transition: all 0.3s;
    }
}

.checked {
    @include hover_effect(--c-text-primary, background, border-color);

    > svg {
        stroke: var(--c-background-primary);
        stroke-dashoffset: 0;
    }
}
