.svgRightBracketContainer {
    align-self: stretch;
    position: relative;
    width: 1.75em;

    > svg {
        @include size(100%);
        position: absolute;
        overflow: visible;
        fill: transparent;
        stroke-linecap: round;
        stroke: var(--c-text-primary);
        stroke-width: 2.5;
    }
}
