$width: 44px;
$height: 20px;

.switch {
    @include flex(row, flex-start, flex-end);
    @include size($width, $height);
    transition: all 0.3s;
    justify-self: flex-end;
    border-radius: $height;
    background: var(--c-background-secondary);
    cursor: pointer;
    position: relative;

    &::before {
        @include pseudo();
        @include size(14px);
        background: var(--c-text-secondary);
        border-radius: 100%;
        transition: all 0.3s;
        margin: 3px;
        left: 0;
        top: 0;
    }

    &[data-state='on'] {
        background: var(--c-primary);

        &::before {
            transform: translateX($width - $height);
        }
    }

    &[data-state='intermediate'] {
        background: var(--c-yellow);
    }


    &[data-state='on'],
    &[data-state='intermediate'] {
        &::before {
            background: var(--c-text-secondary-accent);
        }
    }
}
