$width: 48px;
$height: 22px;
$size: 12px;
$padding: ($height - $size) / 2;

.switch {
    @include flex(row, flex-start, flex-end);
    @include size($width, $height);
    transition: all 0.3s;
    justify-self: flex-end;
    border-radius: $height;
    background: var(--c-background-secondary);
    cursor: pointer;
    position: relative;

    &::before {
        @include pseudo();
        @include size($size);
        background: var(--c-text-secondary);
        border-radius: 100%;
        transition: all 0.3s;
        top: $padding;
        left: $padding;
    }

    &[data-state='on'] {
        background: var(--c-primary);

        &::before {
            transform: translateX($width - $height);
        }
    }

    &[data-state='intermediate'] {
        background: var(--c-yellow);
    }


    &[data-state='on'],
    &[data-state='intermediate'] {
        &::before {
            background: var(--c-text-secondary-accent);
        }
    }
}
