.dropZone {
    @include position(0, 0, 0, 0);
    @include flex(column, center, center);
    position: absolute;
    background: var(--c-primary-bg);
    pointer-events: none;
    transition: all 0.3s;
    z-index: 10;
    opacity: 0;

    // Chrome has problems animating currentColor
    --color: transparent;

    > div {
        @include size(1em, 3.5em);
        transition: all 0.3s;
        border: 2px solid var(--color);
        position: relative;
        z-index: 5;

        &::before {
            @include position(-2px, -2px, auto, auto);
            @include pseudo();
            @include size(0);
            border: 0.5em solid transparent;
            border-color: var(--c-primary-bg) var(--c-primary-bg) var(--color) var(--color);
        }

        > div {
            @include size(1.5em);
            @include position(0, 0, 0, 0);
            transition: all 0.3s;
            transform: scale(0);
            position: absolute;
            margin: auto;

            &::before,
            &::after {
                @include pseudo();
                @include size(2px, 100%);
                background: var(--color);
                top: 50%;
            }

            &::after {
                transform: rotate(90deg);
            }
        }
    }

    > p {
        @include font(300, 2em);
        transform: translateY(10%);
        transition: all 0.3s;
        color: var(--color);
        margin-top: 1em;
    }
}

.dragOver {
    --color: var(--c-text-primary);
    transition: all 0.3s;
    opacity: 1;

    > div {
        height: 4.5em;

        > div {
            transform: none;
        }
    }

    > p {
        transform: none;
    }
}
