.dropZone {
    @include position(0, 0, 0, 0);
    @include flex(column, center, center);
    position: absolute;
    background: var(--c-background-primary);
    pointer-events: none;
    transition: all 0.3s;
    z-index: 10;
    opacity: 0;

    // Chrome has problems animating currentColor
    --color: transparent;

    > div {
        @include size(1em, 3.5em);
        transition: all 0.3s;
        border: 2px solid var(--color);
        position: relative;
        z-index: 5;

        &::before,
        &::after {
            @include position(-2px, -2px, auto, auto);
            @include pseudo();
            @include size(0);
            border: 0.5em solid var(--color);
        }

        &::before {
            clip-path: polygon(0 0, 0% 100%, 100% 100%);
        }

        &::after {
            border-color: var(--c-background-primary);
            clip-path: polygon(0 0, 100% 0, 100% 100%);
        }

        > div {
            @include size(1.5em);
            @include position(0, 0, 0, 0);
            transition: all 0.3s;
            transform: scale(0);
            position: absolute;
            margin: auto;

            &::before,
            &::after {
                @include pseudo();
                @include size(2px, 100%);
                background: var(--color);
                top: 50%;
            }

            &::after {
                transform: rotate(90deg);
            }
        }
    }

    > p {
        @include font(300, 2em);
        transform: translateY(10%);
        transition: all 0.3s;
        color: var(--color);
        margin-top: 1em;
    }

    > button {
        margin-top: 1.5em;
        border-radius: 0.25em;
        padding: 0.5em 0.75em;
        background: var(--c-primary);
        color: var(--c-text-secondary-accent);
        pointer-events: all;
        transition: all 0.3s;

        &:hover {
            background: var(--c-primary-accent);
        }
    }
}

.dragOver {
    --color: var(--c-text-primary);
    transition: all 0.3s;
    opacity: 1;

    > div {
        height: 4.5em;

        > div {
            transform: none;
        }
    }

    > p {
        transform: none;
    }
}
