.toast {
    @include position(2vh, 0, auto, 0);
    @include flex(row, center, center);
    transform: translateY(calc(-100% - 2vh));
    transition: all 0.3s;
    pointer-events: none;
    position: fixed;
    margin: 0 auto;
    z-index: 20;

    p {
        @include font(600, 0.9em);
        padding: 0.75em 2em;
        border-radius: 50em;
        color: var(--c-text-secondary);
    }

    $states: (
            ('success', --c-primary-accent),
            ('warning', --c-yellow-accent),
            ('error', --c-red-accent),
    );

    @each $state in $states {
        $color: nth($state, 2);
        &[data-state=#{nth($state, 1)}] p {
            background: var(#{$color});
        }
    }
}

.show {
    transform: none;
}
