.toast {
    @include position(0, 0, auto, 0);
    @include flex(row, center, center);
    transform: translateY(-105%);
    transition: all 0.25s;
    pointer-events: none;
    position: fixed;
    margin: 0 auto;

    p {
        @include font(600, 0.9em);
        padding: 0.65em 2em;
        border-radius: 0 0 0.5em 0.5em;
        color: var(--c-text-secondary-accent);
        border: 2px solid transparent;
    }

    $states: (
            ('success', --c-primary),
            ('warning', --c-yellow),
            ('error', --c-red),
    );

    @each $state in $states {
        $color: nth($state, 2);
        &[data-state=#{nth($state, 1)}] p {
            background: var(#{$color});
            border-color: var(#{$color + '-accent'});
            border-top-color: transparent;
        }
    }
}

.show {
    transform: none;
}
