.status {
    display: inline-block;
    padding: 0.1em 0.5em;
    position: relative;
    overflow: visible;
    margin: auto;

    span {
        @include font(600, 0.9em);
        line-height: 1.4em;
        color: var(--c-primary);
        transition: all 0.3s;
    }

    svg {
        @include position(0, 0, 0, 0);
        @include size(100%);
        position: absolute;
        overflow: visible;

        rect {
            fill: none;
            stroke-width: 2;
            stroke-linejoin: round;
            stroke-linecap: round;
            stroke: var(--c-primary);
            transition: all 0.3s;

            &.outline {
                transition: all 0.3s;
                stroke-dasharray: 20 var(--path-length);
                stroke: transparent;

                @include animate('1s infinite linear') {
                    from {
                        stroke-dashoffset: var(--path-length);
                    }
                    to {
                        stroke-dashoffset: -20;
                    }
                }

                animation-play-state: paused;
            }
        }
    }

    &[data-status='loading'] {
        span {
            color: var(--c-info);
        }

        svg rect {
            stroke: var(--c-secondary-bg);

            &.outline {
                stroke: var(--c-info);
                animation-play-state: running;
            }
        }
    }
}
