.tabViews {
    position: relative;
    overflow: hidden;
    flex-grow: 1;

    .view {
        @include position(0, 0, 0, 0);
        transition: all 0.3s;
        transform: scale(0.98);
        position: absolute;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;

        &.active {
            visibility: visible;
            opacity: 1;
            transform: none;
        }
    }
}
