.tabViews {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    height: 0;

    > div {
        @include size(100%);
    }

    @include mq-desktop {
        > div .view {
            @include size(100%);
            transition: all 0.3s;
            transform: scale(0.98);
            position: absolute;
            overflow: hidden;
            visibility: hidden;
            opacity: 0;

            &.active {
                visibility: visible;
                opacity: 1;
                transform: none;
            }
        }
    }

    @include mq-phones {
        $tabs: 3;

        > div {
            display: flex;

            .view {
                @include fixed-size(100%);
                transition: all linear 0.3s;
                position: relative;
            }
        }
    }
}
